<html>
<head>
  <title>Test qualification</title>
  <link rel="stylesheet" type="text/css" href="/slds/styles/salesforce-lightning-design-system.css" />
</head>
<body>
  <div class="container">
    <% news.forEach(function(card){ %>
      <article class="slds-card">
        <div class="slds-card__body slds-card__body_inner">
          <div class="slds-illustration slds-illustration_small">
             <% if (card.urlToImage) { %>
                <img class="slds-illustration__svg" src="<%= card.urlToImage %>" />
             <% } %> 
            </div>
          <div class="slds-text-longform">
          <div class="slds-text-heading_medium">
          <h3><%= card.title %></h3>
            <div class="navigation">
              <div class="time"><%= new Date(card.publishedAt).toLocaleTimeString().split(':').slice(0, 2).join(':')  %></div>
              <a class="link" target="_blank" href="<%= card.url %>">
                <img src="/right-arrow.svg" />
              </a>
            </div>
          </div>
          <p class="slds-text-body_regular"><%= card.description %></p>
          </div>
        </div>
        </article>
    <% }); %>
  </div>


  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 700px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .slds-card p, .slds-card h3 {
      text-align: left !important;
      word-wrap: nowrap;
    }

    .slds-illustration__svg {
      max-width: none !important;
      max-height: none !important;
      border-radius: var(--slds-c-card-radius-border, var(--sds-c-card-radius-border, 0.25rem));
    }

    .slds-text-heading_medium {
      display: flex;
    }

    .slds-text-heading_medium h3 {
      width: 75%;
    }

    .slds-text-heading_medium .navigation {
      width: 25%;
    }

    .navigation {
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
    }

    .time {
      width: max-content;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }

    .link {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .link img {
      height: 50px;
      width: 50px;
      display: block;
    }

    @media (max-width: 1000px) {
      .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
      
    }
  </style>
</body>
</html>